{% extends "default.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}
{% block head %}
<script src="{% static 'js/slidebuilder.js' %}"></script>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
  function getImagePaths()
  {
  l = [];
  {% for image in images %}
  l.push("/media/{{image.img}}");
  {% endfor %}
  return l;
  }

  function getVideoPaths()
  {
  l = [];
  {% for video in videos %}
  l.push("/media/{{video.video}}");
  {% endfor %}
  return l;
  }
</script>
<link href="{% static 'css/slideedit.css' %}" type="text/css" rel="stylesheet"></link>

<style>
  .nav_button
  {
  position:fixed;
  top:48%;
  bottom:auto;
  }
  
</style>
{% endblock %}

{% block ekstra_nav %}
<li>
  <a href="{% url 'cbuilder.views.project' %}?pid={{slide.course.id}}">
    {% blocktrans %}Course{% endblocktrans %}</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {% blocktrans %}Add row{% endblocktrans %}
    <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a onclick="addRow('one')">{% blocktrans %}Single row{% endblocktrans %}</a></li>
    <li><a onclick="addRow('two')">{% blocktrans %}Double row{% endblocktrans %}</a></li>
    <li><a onclick="addRow('three')">{% blocktrans %}Tripple row{% endblocktrans %}</a></li>
    <li><a onclick="addRow('four')">{% blocktrans %}Four row{% endblocktrans %}</a></li>
    <li><a onclick="addRow('smallbig')">{% blocktrans %}Small - Big{% endblocktrans %}</a></li>
    <li><a onclick="addRow('bigsmall')">{% blocktrans %}Big - Small{% endblocktrans %}</a></li>
  </ul>
</li>
<li>
  <form method="post" action="{% url 'cbuilder.views.save_slide' %}">
    <p class="navbar-btn">
      <input class="btn btn-default" type="submit" value="{% blocktrans %}Save{% endblocktrans %}"/></p>
    <input name="sid" type="hidden" value="{{slide.id}}"/>
    <input name="html" type="hidden" value="{{slide.html}}" id="html_form"/>
    {% csrf_token %}
  </form>
</li>
{% endblock %}


{% block content %}
{% if message %}
<p>{{message}}</p>
{% else %}
{% if prev_slide %}
<div class="nav_button">
  <a class="glyphicon glyphicon-menu-left btn btn-default" aria-hidden="true"
     href="{% url 'cbuilder.views.edit_slide' %}?sid={{prev_slide.id}}"></a>
</div>
{% endif %}


  <div id="slide">
    {{slide.html | safe}}
  </div>

{% if next_slide.title %}
<div class="nav_button" style="right:0px;">
  <a class="glyphicon glyphicon-menu-right btn btn-default" aria-hidden="true"
     href="{% url 'cbuilder.views.edit_slide' %}?sid={{next_slide.id}}"></a>
</div>
{% endif %}

<script>
  // setup listener for old data 
  $(".col-sm-12").click(editColumn);
  $(".col-sm-8").click(editColumn);
  $(".col-sm-6").click(editColumn);
  $(".col-sm-4").click(editColumn);
  $(".col-sm-3").click(editColumn);
</script>
{% endif %}
{% endblock %}
