{% extends "default.html" %}
{% load i18n %}
{% load staticfiles %}


{% block head %}
{% endblock %}

{% block ekstra_nav %}
{% endblock %}
{% block content %}
{% if message %}
<div class="row">
  <div class="col-sm-12">
    <p>{{message}}</p>
  </div>
</div>
{% else %}

<div class="jumbotron">
  <h1>{{course.title}}</h1>
  <p>{{course.description}}</p>
</div>



<!-- button row for manipulating slides -->
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-lg">
      <a class="btn btn-primary" href="{% url 'cbuilder.views.create_slide' %}?pid={{course.id}}">
	{% blocktrans %}Create slide{% endblocktrans %}
      </a>
      <a class="btn btn-primary" href="{% url 'cbuilder.views.upload_image' %}?pid={{course.id}}">
	{% blocktrans %}Upload image{% endblocktrans %}</a>
            <a class="btn btn-primary" href="{% url 'cbuilder.views.upload_video' %}?pid={{course.id}}">
	      {% blocktrans %}Upload video{% endblocktrans %}</a>
	    <a href="{% url 'export.views.preview' course.code %}" class="btn btn-primary" target="_blank">
	      {% blocktrans %}Preview{% endblocktrans %}</a>
    </div>
  </div>
</div>
<br/>
<div class="row">

  <div class="col-sm-9">
    {% if slides %}
    <table class="table">
      {% for s in slides %}
      <tr>
	<td><a href="{% url 'cbuilder.views.edit_slide_title' %}?sid={{s.id}}">{{s.title}}</a></td>
	<td><a href="{% url 'cbuilder.views.edit_slide' %}?sid={{s.id}}" class="btn btn-primary">
	    {% blocktrans %}Edit{% endblocktrans %}</a></td>

	<!-- add to menu -->
	<td>
	  <form method="POST" action="{% url 'cbuilder.views.toggle_menu_slide' %}">
	    {% csrf_token %}
	    <input type="hidden" name="sid" value="{{s.id}}"/>
	  {% if s.inMenu %}
	    <button type="submit" title="{% blocktrans %}Remove from the menu{% endblocktrans %}"
		    class="btn btn-success glyphicon glyphicon-list-alt"/>
	  {% else %}
	    <button type="submit" title="{% blocktrans %}Add to menu{% endblocktrans %}"
		    class="btn btn-primary glyphicon glyphicon-list-alt"/>
	  {% endif %}
	  </form>
	</td>
	
	<!-- delete -->
	<td>
	  <form action="{% url 'cbuilder.views.delete_slide' %}" method="POST">
	    <input type="hidden" name="sid" value="{{s.id}}"/>
	    <input type="submit" class="btn btn-danger" value="{% blocktrans %}Delete{% endblocktrans %}"/>
	    {% csrf_token %}
	  </form>
	</td>
	<td>
	  {% if s.prevSlide %}
	  <form action="{% url 'cbuilder.views.swap_slide' %}" method="POST">
	    <input value="{{s.id}}" name="sid1" type="hidden"/>
	    <input value="{{s.prevSlide.id}}" name="sid2" type="hidden"/>
	    {% csrf_token %}
	    <input type="submit" class="glyphicon glyphicon-menu-up btn btn-default" value="{% blocktrans %}Up{% endblocktrans %}">
	  </form>
	  {% endif %}
	</td>
		<td>
	  {% if s.nextSlide %}
	  <form action="{% url 'cbuilder.views.swap_slide' %}" method="POST">
	    <input value="{{s.id}}" name="sid1" type="hidden"/>
	    <input value="{{s.nextSlide.id}}" name="sid2" type="hidden"/>
	    {% csrf_token %}
	    <input type="submit" class="glyphicon glyphicon-menu-up btn btn-default" value="{% blocktrans %}Down{% endblocktrans %}">
	  </form>
	  {% endif %}
	</td>
	
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>{% blocktrans %}Your slides will display in a list here!{% endblocktrans %}</h2>
    <p>{% blocktrans %}There are no slides in this course.{% endblocktrans %}
    <a href="{% url 'cbuilder.views.create_slide' %}?pid={{course.id}}">{% blocktrans %}Click here to create one.{% endblocktrans %}</a></p>
    {% endif %}
  </div>
  
  <div class="col-sm-3">
    {% for image in images %}
    <img src="/media/{{image.img}}" style="width:100px"/>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
