/********************
 * Slide edit CSS
 ********************/
#slide
{
	margin-left:52px;
	margin-right:52px;
}

.col-sm-4:hover
{
    border:2px solid red;
}
.col-sm-6:hover
{
    border:2px solid red;
}
.col-sm-12:hover
{
    border:2px solid red;
}
	      
