/****************************************
 * Default css for the project.
 * Make's the project work 
 * @author Per-Henrik Kvalnes - 2015
 ****************************************/

/** slide styling **/
.slide
{
    margin:25px;



}
#slides
{
    
}



/** Navigation styling **/
.nav_button
{
    position:fixed;
    top:48%;
    bottom:auto;

}

#navBar
{
    position:fixed;
    width:80%;
    bottom:0px;
}

.col-bottom-bar
{
    position:fixed;
    left:0px;
    right:0px;
}

.btn
{
    position:relative;
}

.btn-disabled
{
}

.btn:hover
{

}
	     


/**************
 * Marker CSS
 **************/
.marker_yellow
{
    background-color:yellow;

}
