{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    {% block head %}{% endblock %}
  </head>
  <body>

    <div class="container-fluid">
      <nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#">Test</a></li>
	    </ul>
	  </div>
	</div>
      </nav>
    </div>
    {% block content %}
    {% endblock %}
    </div>

    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"/>
  </body>
</html>
