{% extends "default.html" %}
{% load i18n %}
{% load staticfiles %}


{% block head %}
{% endblock %}

{% block ekstra_nav %}
{% endblock %}


{% block content %}




<div class="row">
  <div class="col-sm-12">
    <h1>{% blocktrans %}Login{% endblocktrans %}</h1><br/>
    <p>{{message}}</p>
  </div>
</div>

<div class="row">
  <form  method="POST">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="form-group">
	<table>
	  <tr>
	    <td><label for="username">{% blocktrans %}Username{% endblocktrans %}</label></td>
	    <td><input type="text" id="username" name="username"/></td>
	  </tr>
	  <tr>
	    <td><label for="pass">{% blocktrans %}Password{% endblocktrans %}</label></td>
	    <td><input type="password" id="pass" name="pass"/></td>
	  </tr>
	  <tr>
	    <td><input type="submit" value="{% blocktrans %}Login{% endblocktrans %}" class="btn btn-default"/></td>
	  </tr>
	</table>
	{% csrf_token %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
