{% extends "default.html" %}
{% load i18n %}
{% load staticfiles %}


{% block head %}
{% endblock %}

{% block ekstra_nav %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>
      {% blocktrans %}Welcome{% endblocktrans %} {{user.first_name}}
      {{user.last_name}}</h1>
        <p>{% blocktrans %}Your projects{% endblocktrans %}</p>
  </div>
</div>

{{message}}

<div class="row">
  <div class="col-sm-12">
    <a href="{% url 'cbuilder.views.create_course' %}" class="btn btn-primary">
      {% blocktrans %}Create course{% endblocktrans %}
    </a>
    <a href="{% url 'export.views.import_scorm' %}" class="btn btn-primary">
      {% blocktrans %}Import course{% endblocktrans %}
    </a>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-sm-9">

  <table class="table">
    {% for c in courses %}
    <tr>
      <td>{{c.title}}</td>
      <td><a href="{% url 'cbuilder.views.project' %}?pid={{c.id}}" class="btn btn-default">
	  {% blocktrans %}Edit{% endblocktrans %}</a></td>
      <td><a href="{% url 'export.views.preview' c.code %}" class="btn btn-default" target="_blank">
	  {% blocktrans %}Preview{% endblocktrans %}</a></td>
      <td><a href="{% url 'export.views.export_scorm' %}?pid={{c.id}}" class="btn btn-default" target="_blank">
	  {% blocktrans %}Export SCORM{% endblocktrans %}</a></td>

    </tr>
      
    {% endfor %}
  </table>
  </div>
    <div class="col-sm-3">

  </div>
</div>
{% endblock %}
