{% load i18n %}
{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- init bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/sdefault.css' %}" type="text/css"></link>

<!-- add tin can api -->
<script src="{% static 'js/tincan-min.js' %}"></script>

<title>{{course.title}}</title>
</head>
<body>
  <div class="container">

    <!-- header initialized by navbar.js -->
    <nav class="navbar navbar-default" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="navbar" class="collapse navbar-collapse">

      </div>
    </nav>

    <!-- write your slides here -->
    <div id="slides">
      {% for slide in slides %}
      {% if slide.inMenu %}
      <div class="slide" title="{{slide.title}}">
	{{slide.html|safe}}
      </div>
      {% else %}
      <div class="slide">
	{{slide.html|safe}}
      </div>
      {% endif %}
      {% endfor %}
    </div>

      <!-- the navigation bar is updated by slidework.js -->
      <div class="nav_button" style="left:0px;">
	<a class="glyphicon glyphicon-menu-left btn btn-default" aria-hidden="true" onclick="se.previousSlide()"></a>

      </div>
      <div class="nav_button" style="right:0px;">
	<a class="glyphicon glyphicon-menu-right btn btn-default" aria-hidden="true" onclick="se.nextSlide()"></a>
      </div>

      <div id="navBar" class="row">
      <div class="col-sm-3 col-bottom-bar">
	</br>
	<div id="bardiv">
	</div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3 pull-right">
	<nav>
	  <!-- back and next buttons -->
	  <ul class="pager" id="pager">
	    
	  </ul>
	</nav>
      </div>
    </div>
    </div>
  </div>

  <!-- execute scripts -->
  <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static  'js/urltools.js' %}"></script>
  <script src="{% static  'js/slidework.js' %}"></script>
  <script src="{% static  'js/quiztool.js' %}"></script>
  <script src="{% static  'js/welltool.js' %}"></script>
  <script src="{% static  'js/navbar.js' %}"></script>
  <script src="{% static 'js/marker.js' %}"></script>

  <!-- <script src="conf.js"></script> -->
  <!-- <script src="lib/SCORM_API_wrapper.js"></script> -->
  <!-- <script src="lib/tincan.js"></script> -->

  <script>
    var se = initSlideEngine();
    initNavBar(se);
  </script>
</body>
</html>
